@page

<script src="~/js/pages/base/homepage.js"></script>
<body onload="Homepage.homepageLoad()">
    <div class="card mb-3">
        <div class="card-header">
            <span class="fas fa-bullhorn"></span> Duyuru1
        </div>
        <div id="divDuyurular" class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div id="lstDuyurular">
                        @(Html.DevExtreme().List()
                        .ID("lstDuyurular")
                        .SelectionMode(ListSelectionMode.Single)
                        .ItemTemplate(new JS("Homepage.duyuruItemTemplate"))
                        .OnSelectionChanged("Homepage.duyuruSelectionChanged").Height(250).ShowScrollbar(ShowScrollbarMode.Always))
                    </div>
                </div>
                <div class="col-md-9 border-left">
                    <h5 id="duyuruKonu"></h5>
                    <p id="duyuruAciklama" style="white-space:pre-wrap"></p>
                    @Html.DevExtreme().Button().Icon("home").ID("btnDuyuruDownload").Visible(false).Type(ButtonType.Default).OnClick("Homepage.OnDuyuruDownload")
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <span class="fas fa-mail-bulk"></span> Duyuru2
        </div>
        <div id="divMesajlar" class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div id="lstMesajlar">
                        @(Html.DevExtreme().List()
                        .ID("lstMesajlar")
                        .SelectionMode(ListSelectionMode.Single)
                        .ItemTemplate(new JS("Homepage.mesajItemTemplate"))
                        .OnSelectionChanged("Homepage.mesajSelectionChanged").Height(250).ShowScrollbar(ShowScrollbarMode.Always))
                    </div>
                </div>
                <div class="col-md-9 border-left">
                    <h5 id="mesajKonu"></h5>
                    <p id="mesajAciklama" style="white-space:pre-wrap"></p>
                    @Html.DevExtreme().Button().Icon("home").ID("btnMesajDownload").Visible(false).Type(ButtonType.Default).OnClick("Homepage.OnMesajDownload")
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <span class="fas fa-calendar-day"></span> Duyuru3
        </div>
        <div id="divMesajlar" class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div id="lstMesajlar">
                        @(Html.DevExtreme().List()
                        .ID("lstIsListesi")
                        .SelectionMode(ListSelectionMode.Single)
                        .ItemTemplate(new JS("Homepage.isListesiItemTemplate"))
                        .OnSelectionChanged("Homepage.isListesiSelectionChanged").Height(250).ShowScrollbar(ShowScrollbarMode.Always))
                    </div>
                </div>
                <div class="col-md-9 border-left">
                    <h5 id="isListesiEkran"></h5>
                    <p id="isListesiAciklama" style="white-space:pre-wrap"></p>
                </div>
            </div>
        </div>
    </div>

</body>
