@page
@model DIAS_UI.Pages.Account.UserDto
@inject DIAS.UI.Service.CommonLocalizationService localizer
@{
    Layout = null;
    var location = new object[] {
        new {
            id = 1,
            name = "Bilkent Şehir Hastanesi",
        },
        new {
            id = 2,
            name = "Mersin Şehir Hastanesi",
        }
    };
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@localizer.Get("login.projectName")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />

    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/devextreme/localization/dx.messages.tr.js"></script>
</head>

<body style="background-color: #FAFAFA; " onload="Login.init()">
    <script src="~/js/pages/login.js"></script>
    <script src="~/js/Base.js"></script>
    <div class="center-main">
        <div class="left-half">
            <img src="~/images/LoginPic.png" style="max-width:100%;max-height:100%" />
        </div>
        <div class="middle-half"></div>
        <div class="right-half">
            <div class="wrapper">
                <div id="formContent">
                    <div class="center">
                        <img src="~/images/KurumLogo.png" style="width:110px;height:110px" />
                        <br>
                    </div>
                    <div>
                        <br>
                        @localizer.Get("login.welcome")
                        <h4>@localizer.Get("login.welcome1")</h4>
                        <br>
                    </div>
                    <div id="acc">
                        <form asp-page="Login" method="post">

                            @(Html.DevExtreme().Form<UserDto>().ID("frmLogin").Items(i =>
                            {
                                i.AddSimple()
                                    .Label(l => l.Text("Tesis")
                                    .Location(FormLabelLocation.Left).Visible(false))
                                    .Editor(e => e.SelectBox().ShowClearButton(true).DisplayExpr("name").ValueExpr("id").Placeholder("Tesis seçiniz...").DataSource(location));

                                i.AddSimpleFor(d => d.EmailAddress)
                                    .Label(l => l.Text(@localizer.Get("login.username"))
                                    .Location(FormLabelLocation.Left).Visible(false))
                                    .Editor(e => e.TextBox().ID("txtUsername")
                                    .Width("auto")
                                    .Placeholder("Kullanıcı Adı")
                                    .Value("daslan@email.com")
                                    .Buttons(buttons => buttons.Add().Name("user")
                                        .Location(TextEditorButtonLocation.Before)
                                        .Widget(w => w.Button()
                                            .StylingMode(ButtonStylingMode.Contained)
                                            .Type(ButtonType.Default)
                                            .Icon("user")
                                            .Disabled(false)
                                         )
                                    ))
                                    .ValidationRules(r => r.AddRequired().Message(@localizer.Get("login.username.val")));

                                i.AddSimpleFor(d => d.Password)
                                    .Label(l => l.Text(@localizer.Get("login.password"))
                                    .Location(FormLabelLocation.Left).Visible(false))
                                    .Editor(e => e.TextBox().Mode(TextBoxMode.Password).ID("txtPassword")
                                    .Value(":)")
                                    .Width("auto")
                                    .Placeholder("Şifre")
                                    .Buttons(buttons => buttons.Add().Name("password")
                                        .Location(TextEditorButtonLocation.Before)
                                        .Widget(w => w.Button()
                                            .StylingMode(ButtonStylingMode.Contained)
                                            .Type(ButtonType.Default)
                                            .Icon("key")
                                            .OnClick("Login.changePasswordMode")
                                        )
                                    ))
                                    .ValidationRules(r => r.AddRequired().Message(@localizer.Get("login.password.val")));

                                i.AddSimple()
                                    .Editor(e => e.CheckBox().ID("chkRememberMe")
                                    .Hint(@localizer.Get("login.rememberMe"))
                                    .Text(@localizer.Get("login.rememberMe"))
                                    .OnValueChanged("Login.onChkRememberMeValueChanged"));

                                //i.AddSimple().Label(l => l.Text("Beni Hatırla")).Editor(e => e.Switch().SwitchedOffText("Hayır").SwitchedOnText("Evet"));

                                @*i.AddSimple()
                                    .Template(@<text> <b style="color:red;"> @Model.Msg </b> </text>);*@

                                i.AddButton()
                                    .ButtonOptions(o => o.ID("btnGiris").Text("Giriş")
                                        .Type(ButtonType.Success)
                                        .Width(300)
                                        .Icon("fas fa-sign-in-alt")
                                        //.OnClick("Login.btnLoginClick")
                                        .UseSubmitBehavior(true));

                                i.AddButton()
                                    .ButtonOptions(o => o.ID("btnForgotPassword")
                                        .StylingMode(ButtonStylingMode.Text)
                                        .Text(@localizer.Get("login.forgotPassword"))
                                        .Icon("help")
                                        .Width(300)
                                    )
                                    .CssClass("underlineHover");
                            }))
                        </form>





                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        DevExpress.localization.locale(navigator.language);
        DevExpress.config(
            {
                editorStylingMode: "filled"
            });

    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")    
    
    <style>

        @@media only screen and (max-width: 1000px) {
            .left-half {
                display: none;
            }

            .middle-half {
                display: none;
            }
        }

        .left-half {
            width: 700px;
        }

        .middle-half {
            padding-left: 20px;
            padding-right: 20px;
        }

        .right-half {
            width: auto;
        }

        .center-main {
            display: flex;
            margin: auto;
            padding-top: 10%;
            justify-content: center;
        }

        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
            text-align: center;
        }

        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        #formContent {
            padding: 30px;
            max-width: 400px;
            background-color: #ffffff;
            border-style: solid;
            border-color: #dbdbdb;
            border-width: 1px;
        }

        #customImg {
            width: 40px;
            padding: 2px;
            float: left;
        }

        #frmLogin .dx-field-item-label {
            font-weight: bold;
            font-size: 14px;
        }

        #frmLogin .dx-texteditor-input {
            padding-left: 10px;
        }

        .form-group row {
            align-items: center;
        }

        .underlineHover:after {
            display: block;
            left: 0;
            bottom: -10px;
            width: 0;
            height: 2px;
            background-color: #56baed;
            content: "";
            transition: width 0.2s;
        }

        .underlineHover:hover {
            color: #0d0d0d;
        }

            .underlineHover:hover:after {
                width: 100%;
            }

        #chkRememberMe {
            padding-left: 3px;
        }
    </style>

</body>

</html>

