@{
}

@(Html.DevExtreme().Popup()
    .ID("ticketEffortPopup")
    .Visible(false)
    .MinWidth(200)
    .MaxWidth(300)
    .MinHeight(200)
    .MaxHeight(300)
    .ShowTitle(false)
    .CloseOnOutsideClick(true)
    .ShowCloseButton(false)
    .ContentTemplate(new TemplateName("ticketEffortPopupTemplate"))
)

@using (Html.DevExtreme().NamedTemplate("ticketEffortPopupTemplate"))
{
    @(Html.DevExtreme().ScrollView().Width("100%").Height("100%")
        .Content(
            @<text>
                <div id="edit">
                    <div class="edit-label" id="ticket-effort-label"></div>
                    <div class="edit-effort-actions">
                        @(Html.DevExtreme().Button()
                            .Text("Aktiviteye Başla")
                            .ID("ticketEffortStart")
                            .Type(ButtonType.Success)
                            .Icon("fas fa-play")
                            .UseSubmitBehavior(true)
                            .Width("auto")
                            .OnClick("Tickets.ticketEffortStartClick")
                            .Width(170)
                        )
                    </div>
                    <div class="edit-effort-actions">
                       @(Html.DevExtreme().Button()
                            .ID("ticketEffortPause")
                            .Text("Aktiviteyi Durdur")
                            .Type(ButtonType.Normal)
                            .Icon("fas fa-pause")
                            .Width("auto")
                            .OnClick("Tickets.ticketEffortPauseClick")
                            .Visible(false) //TODO Later
                            .Width(170)
                       )
                    </div>
                    <div class="edit-effort-actions">
                       @(Html.DevExtreme().Button()
                            .ID("ticketEffortStop")
                            .Text("Aktiviteyi Durdur")
                            .Type(ButtonType.Danger)
                            .Icon("fas fa-stop")
                            .Width("auto")
                            .OnClick("Tickets.ticketEffortStopClick")
                            .Width(170)
                       )
                    </div>
                    <div class="edit-effort-actions">
                        <div id="effortTimeInf">
                            <div>Toplam Geçen Süre</div>
                            <div id="effortTimer"></div>
                        </div>
                    </div>
                    <div class="edit-effort-actions">
                        @(Html.DevExtreme().TextBox().ID("txtEffortPauseReason")
                            .Width("auto")
                            .Placeholder("Durdurma sebebi giriniz...")
                            .Visible(false) //TODO Later
                         )
                    </div>
                </div>
            </text>
        )
    )
}


<style>
    .edit-effort-actions {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
</style>
